<div id="choose-game" class="center">

    <div id="waiting-match-list">
        <h2>Válassz egy kihívást innen:</h2>
    </div>

    <div id="create-match">
        <h2>Vagy hozz létre egy újat itt:</h2>
        <div class="empty-space-20"></div>
        <form name="form" ng-submit="form.$valid && createChallange()" novalidate>
            
            <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
                <legend>Játék:</legend>
                <div ng-repeat="type in gameTypes">
                    <label>
                        <input type="radio" ng-model="newMatch.gameType" value="type.gameTypeId" required>
                        {{ type.gameTypeName }}
                    </label><br/>
                </div>
            </div>
            <div>
                <legend>Szabályok:</legend>
                <div ng-repeat="option in gameOptions">
                    <label>
                        <input type="checkbox" ng-model="newMatch.options" value="option.id">
                        {{ option.name }}
                    </label><br/>
                </div>
            </div>
            
            <div class="empty-space-20"></div>
            <div class="form-group">
                <button ng-disabled="loading" class="btn btn-primary">Létrehozás</button>
                <img ng-if="loading" src="img/loading.png" />
            </div>
            <div ng-if="error" class="alert alert-danger">{{error}}

        </form>
    </div>
</div>