<div id="login">
    <div class="empty-space-20"></div>

    <h1 class="left-space">Üdvözöllek Levi vidámparkjában!</h1>

    <div class="empty-space-20"></div>

    <h4 class="left-space">Jelentkezz be a kalandhoz!</h4>
    
    <div class="empty-space-50"></div>
    
	<div class="container">
        <form name="form" ng-submit="form.$valid && login()" novalidate>
            <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" ng-model="username" required />
                <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                    <div ng-message="required">Username is required</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" ng-model="password" required />
                <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                    <div ng-message="required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button ng-disabled="loading" class="btn btn-primary">Login</button>
                <img ng-if="loading" src="../../img/loading.png" />
            </div>
            <div ng-if="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
</div>

