<h1>Welcome to Levi's Theme Park!</h1>

<div>
	<p>Register for entrance to the party!</p>
</div>


<div>
	<h2>Register</h2>
	
<!-- 	<div ng-show="registerError" > -->
<!-- 		{{error}} -->
<!-- 	</div> -->
	<form name="form" ng-submit="register()">
	    <div>
	        <label for="username">Username</label>
	        <input type="text" name="username" id="registerUsername" class="" ng-model="username" required />
            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                <div ng-message="required">Username is required</div>
            </div>
	    </div>
	    <div>
	        <label for="password">Password</label>
	        <input type="password" name="password" id="registerPassword" ng-model="password" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required">Password is required</div>
            </div>
	    </div>
	    <div>
	        <label for="password">Password again</label>
	        <input type="password" name="password" id="registerPasswordAgain" ng-model="passwordConfirmed" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required">Password confirmation is required</div>
            </div>
	    </div>
	    <div>
	        <label for="email">Email</label>
	        <input type="email" name="email" id="email" class="" ng-model="email" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="email">This needs to be a valid email</div>
            </div>
	    </div>
	    <div>
	        <button type="submit">Register</button>
	    </div>
	</form>
</div>

